

*{
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    box-sizing: border-box;
}

html, body{
    scroll-behavior: smooth;

}
body{
    min-height: 100vh;
    background: radial-gradient(circle at top, #0f172a, #020617);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    color: white;
    gap: 40px;
}
h1{
    font-size: 3rem;
    
}
p{
    font-size: 1.5rem;
    color: #efeaea;
    text-align: center;
}
form{
    width: 100%;
    max-width: 900px;
    padding: 40px;
    border-radius: 20px;

    background: rgba(255,255,255,0.05);
    backdrop-filter: blur(12px);

    border: 1px solid rgba(255,255,255,0.1);
    box-shadow: 0 20px 60px rgba(0,0,0,0.4);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}
form .text-area label,
form .left label{
    font-size: 22px;
    color: #333;
    font-weight: 540;
    font-family:  monospace;
}

form .text-area ul li{
    list-style: none;
}
.input-group{
    position: relative;
    width: 100%;
  }
  .input-group input,
.input-group textarea{
  width: 100%;
  padding: 14px 45px 14px 15px;

  border-radius: 10px;
  border: 1px solid rgba(255,255,255,0.2);

  background: rgba(255,255,255,0.08);
  color: white;
  font-size: 16px;

  outline: none;
  transition: 0.3s ease;
}


button{
    grid-column: span 2;

    background: linear-gradient(45deg, #00f5d4, #9b5cff);
    color: white;

    padding: 12px;
    border-radius: 10px;
    border: none;

    cursor: pointer;
    transition: 0.3s;
}
.input-group input:hover,
.input-group textarea:hover{
  border-color: rgba(255,255,255,0.4);
}
.input-group label{
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    color: #aaa;
    font-size: 14px;
    pointer-events: none;
    transition: 0.3s ease;
}
/* .text-area{
    grid-column: span 1;
} */
.input-group input:focus + label,
.input-group input:valid + label,
.input-group textarea:focus + label,
.input-group textarea:valid + label{
  top: -12px;
  left: 10px;
  font-size: 12px;
  color: #00f5d4;
}
.input-group .icon{
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    opacity: 0.7;
  }
  .input-group input:focus,
.input-group textarea:focus{
  border-color: #00f5d4;
  box-shadow: 0 0 12px rgba(0,245,212,0.5);
}
textarea{
    min-height: 120px;
    resize: none;
  }
  .full{
    grid-column: span 2;
  }
  .full .icon{
    top: 20px;
  }
  
  button:hover{
    transform: translateY(-3px) scale(1.03);
    box-shadow: 0 10px 30px rgba(0,245,212,0.4);
  }



/* * Styles for devices with smaller width. */

@media (max-width: 768px){    
    form {
        grid-template-columns: 1fr;
        gap: 25px;
        padding: 30px 20px;
      }
    
      .input-group,
      .long,
      .full {
        grid-column: span 1;
        width: 100%;
      }
    
      button {
        grid-column: span 1;
      }
      body{
        gap: 20px;
      }
      h1{
        font-size: 2.5rem;
      }
       p{
        font-size: 1.2rem;
        color: aquamarine;
       }      
}