*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html, body{
    scroll-behavior: smooth;
}
body{
    background: #000;
    color: #fff;
    height: 100vh;
    width: 100%;
    user-select: none;
    scrollbar-width: none;

}
.titlebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
}
.titlebar .logo h1{
    font-size: 22px;
    font-weight: 550;
    color: #fb7a7a;
}
.titlebar .logo i{
    font-size: 24px;
    font-weight: bold;
}
.titlebar .ham{
    display: none;
}
.titlebar .navbar a,
.titlebar .socials ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    cursor: pointer;

}
.titlebar .socials ul li a{
    color: #ec8686;
    background: #454242;
    padding: 5px;
    font-family: 'Times New Roman', monospace;
    border: 1px solid #655d5d;
    border-radius: 5px;
    transition: all 0.3s;

}
.titlebar .socials ul li i{
    accent-color: white;
}
.titlebar .socials ul li a:hover{
    color: #fff;
    background: #ec8686;
    border: 1px solid #ec8686;
}
.titlebar .navbar ul li,
.titlebar .socials ul li{
    list-style-type: none;
}
.titlebar .navbar ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.titlebar .navbar a:hover{
    color: #ff0000;
    text-decoration: underline;
    text-underline-offset: 10px;
}
section{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    
}
/* section:nth-child(odd){
    background: #111;
} */
section:nth-child(even){
    background: #222;
}

/* * Hero section stuling */
.hero{
    height:100vh;
    background-size:cover;
    background-position:center;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 100%;
}
#bg-video{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-1;
}
.hero-overlay{
    position:absolute;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.45);
}

.hero-content{
    position:relative;
    text-align:center;
}

.hero-content h1{
    font-size:70px;
    font-weight:300;
    margin-bottom:30px;
}

.hero-buttons button{
    margin:10px;
    padding:12px 25px;
    border-radius:25px;
    font-size:14px;
    cursor:pointer;
}

.primary{
    background:white;
    border:none;
    color:black;
    transition: all 0.15s;
}

.secondary{
    background:transparent;
    border:1px solid white;
    color:white;
    transition: all 0.15s;
}
.secondary:hover{
        background: #fff;
        color: #000;
}
.secondary:active,
.primary:active{
        background-color: #aaa;
}

/* * Booking bar styling  */

.booking-bar{
    position:absolute;
    bottom:40px;
    width:80%;
    max-width:1100px;
    background:black;
    border-radius:18px;
    padding:20px;
}

.trip-type{
    margin-bottom:15px;
}

.trip-type button{
    background:#222;
    color:white;
    border:none;
    padding:8px 16px;
    border-radius:20px;
    margin-right:10px;
    cursor:pointer;
    transition: all 0.15s ease-in-out;
}

.trip-type .active{
    background:white;
    color:black;
}
.trip-type .active:active{
        background: #aaa;
}

.trip-type #one-way:active{
        background: #b9afaf;
}
.booking-fields{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.field{
    flex:1;
    padding:10px 20px;
}

.field label{
    display:block;
    font-size:12px;
    color:#aaa;
}

.field span{
    font-size:20px;
}

.search-btn{
    background:#333;
    color:white;
    border:none;
    border-radius:12px;
    width:50px;
    height:70px;
    font-size:20px;
    cursor:pointer;
    transition: all .15s ease-in-out;
}
.search-btn:active{
        background: #a49f9f;
        color: #111
}

/* * About section styling */
#whyUs,
#About{
    font-size: 16px;
    font-weight: 500;
    padding: 40px 60px;
}
#About{
    display: flex;
    flex-direction: column;
    text-align: center;
}
#About .cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 20px;

}
#About .card{
    margin: 20px;
    background: #333;
    width: fit-content;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #a49f9f;
    outline: none;
    border-radius: 20px;
}
#About .card .learn-btn{
    background: #6e4444;
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid #ff0000;
    border-radius: 5px;

}
#About .card h2{
    color: #fb7a7a;
}

/* * Why Us page styling. */
#whyUs{
    width: 100vw;

    /* overflow-x: scroll; */
    scrollbar-width: thin;
    scroll-behavior: smooth;
    background: #111;
    /* width: fit-content; */
}
#whyUs .gallery{
    /* display: inline; */
    display: flex;
    flex-direction: row;
    height: 60%;
    gap: 20px;
    /* margin-left: 60px; */
}
#whyUs .gallery .sheet{
    height: 100%;
    width: 700px;
    background-image: url("../assets/images/airplane-mirror.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2px 2px 10px #aaa;
    border-radius: 10px;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    opacity: 0.8;
    transition: all 0.15s ease-in;
}
#whyUs .gallery .sheet:hover{
    scale: 1.05;
    margin: -10px 40px;
}
#whyUs .gallery .sheet h3{
    color: #ec4848;
    font-size: 1.5rem;
}

/* * foooter styling */
.footer{
    height: 50%;
    padding: 30px 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #716a6a;
    font-size: 19px;
    width: 100%;
}
.footer .row1{
    margin-bottom: 20px;
}
.footer .row1 .cols{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-left: 40px;
}
.footer .row1 .cols h3{
    color: #b76565;
    margin-bottom: 10px;
}
.footer .row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.footer footer .row2 .right-footer a,
.footer footer .row1 .cols .col1 ul li a,
.footer footer .row1 .cols .col2 ul li a,
.footer footer .row1 .cols .col3 ul li a,
.footer .row2 .footer-legal a{
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    color: beige;
}
.footer footer .row1 .cols .col1 ul li,
.footer footer .row1 .cols .col2 ul li ,
.footer footer .row1 .cols .col3 ul li {
    list-style-type: none;
    gap: 20px;
    line-height: 2rem;
}



/** Display on a small screen */

@media (width < 480px) {
    body{
        width: 100%;
        height: 100vh;
    }
    section{
        max-width: 100%;
        height: fit-content;
        overflow-x: hidden;
    }
    /* * Some isssues with the width of the screen */
    /* #bg-video{
        position: fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        object-fit:cover;
        z-index:-1;
    } */
    /* *Removing from display the navbar inorder to fix a hamburger there as the menu display */
    .titlebar .navbar{
        display: none;
    }
    .titlebar .socials{
        display: none;
    }
    /* making the ham appear */
    .titlebar .ham{
        display: inline-block;
        cursor: pointer;
    }
    /* ^ reducing the size of the font in a small screen */
    .hero-content h1{
        font-size: 26px;
        margin-bottom: 40px;
    }
    #home{
        min-height: fit-content;

    }
    .hero-content {
        width: 100%;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: none;
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        
    }
    .hero-content .hero-buttons{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .hero .hero-content .popup{
        background: #aaa;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:12px 25px;
        height: 40px;
        width: 290px;
        border-radius: 19px;
        border: none;
        outline: none;
        margin-left: 5px;
        transition: all 0.15s ease-in-out ;
        cursor: pointer;
    }
    .hero .hero-content .popup .pop-btn{
        font-size: 20px;
        color: #d52424;
        cursor: pointer;
        text-decoration: none;
    }
    .hero .hero-content .popup:active{
        background: #645f5f;
    }

    /* * Booking bar reordering */
    
    .booking-bar {
        display: flex;
        height: fit-content;
        flex-wrap: wrap;
        flex-direction: row;
        /* ^ Decided to make the booking bar a popup  */
        display: none; 
    }
    .booking-bar .booking-fields{
        display: grid;
    }


    /* * About page  */
    #About{
        width: 100vw;
        height: fit-content;
        padding: 5px;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
    }
    #About .cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 87%;
    }


    #whyUs {
        height: fit-content;
        width: 100vw;
        /* margin: 0; */
        padding: 30px 10px 30px 30px ;

    }
    #whyUs .gallery{
        display: flex;
        flex-direction: column;
        width: 100%;        
    }
    #whyUs .gallery .sheet{
        width: 95%;
    }
    #whyUs .gallery .sheet:hover{
        margin: 0;
        scale: 1;
    }


    /* *footer section of a small device */
    .footer{
        width: 100%;
        height: fit-content;
        padding: 10px;
        margin: 0;
    }
    #footer footer .row1 .cols{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        padding: 0;
    }
    .footer footer .row2 {
        display: flex;
        flex-direction: column-reverse;
    }
}