*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}
html, body{
    scroll-behavior: smooth;
}
body{
    background: #1a1818;
    color: #fff;
    height: 100vh;
    width: 100%;
    user-select: none;
    scrollbar-width: none;

}
.titlebar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
}
.titlebar .logo h1{
    font-size: 22px;
    font-weight: 550;
    color: #7af2fb;
}
.titlebar .logo .icon{
    font-size: 24px;
    font-weight: bold;
}
.titlebar .ham{
    display: none;
    /* This ensures that the hamburger only shows when the screen width is small i.e user is on a phone */
}
.titlebar .navbar a,

.titlebar .socials ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    cursor: pointer;

}
.titlebar .socials ul li a{
    color: #86ece7;
    background: #454242;
    padding: 5px;
    font-family: 'Times New Roman', monospace;
    border: 1px solid #47a79c;
    border-radius: 5px;
    transition: all 0.3s;

}
.titlebar .socials ul li a:hover{
    background: #000;
    border: 1px solid #00f5d4;
    box-shadow: 0 0 15px #00f5d4, 0 0 40px #00f5d4;
}
.titlebar .navbar ul li,
.titlebar .socials ul li{
    list-style-type: none;
}
.titlebar .navbar ul {
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.titlebar .navbar a:hover{
    color: #00d9ff;
    text-decoration: underline;
    text-underline-offset: 10px;
}
section{
    width: 100%;
}

/* section:nth-child(odd){
    background: #df4141;
}
section:nth-child(even){
    background: #cc235b;
} */

/* * Hero section stuling */
.hero{
    height:100vh;
    position:relative;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width: 100%;
}
#bg-video{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    object-fit:cover;
    z-index:-1;
}

.hero-overlay{
    position:absolute;
    width:100%;
    height:100%;
}

.hero-content{
    position:relative;
    text-align:center;
}

.hero-content h1{
    font-size:70px;
    font-weight:300;
    margin-bottom:30px;
}

.hero-buttons button{
    margin:10px;
    padding:12px 25px;
    border-radius:25px;
    font-size:14px;
    cursor:pointer;
}

.primary{
    background:rgb(236, 209, 209);
    border:none;
    color:rgb(230, 0, 0);
    transition: all 0.15s;
}

.secondary{
    background:transparent;
    border:1px solid white;
    color:white;
    transition: all 0.15s;
}
.secondary:hover{
        background: #fff;
        color: #000;
}
.popup {
    display: none;
}
.secondary:active,
.primary:active{
        background-color: #aaa;
}

/* * Booking bar styling  */

.booking-bar{
    position:absolute;
    bottom:40px;
    width:80%;
    max-width:1100px;
    background:black;
    border-radius:18px;
    padding:20px;
}

.trip-type{
    margin-bottom:15px;
}

.trip-type button{
    background:#222;
    color:white;
    border:none;
    padding:8px 16px;
    border-radius:20px;
    margin-right:10px;
    cursor:pointer;
    transition: all 0.15s ease-in-out;
}

.trip-type .active{
    background:white;
    color:black;
}
.trip-type .active:active{
        background: #aaa;
}

.trip-type #one-way:active{
        background: #b9afaf;
}
.booking-fields{
    display:flex;
    align-items:center;
    justify-content:space-between;
}

.field{
    flex:1;
    padding:10px 20px;
}

.field label{
    display:block;
    font-size:12px;
    color:#aaa;
}

.field span{
    font-size:20px;
}

.search-btn{
    background:#0a911c;
    color:white;
    border:none;
    border-radius:12px;
    width:50px;
    height:70px;
    font-size:20px;
    cursor:pointer;
    transition: all .15s ease-in-out;
}
.search-btn:active{
        background: #20db0f;
        color: #111
}

/* * About section styling */
#whyUs,
/* .About{
    font-size: 16px;
    font-weight: 500;
} */
#About{
    display: flex;
    flex-direction: column;
    padding: 80px 20px;
    margin: 0;
    gap: 40px;
    min-height: auto;
    text-align: center;
    background: radial-gradient(circle at top, #0f172a, #020617);
    overflow: visible;
}
#About h2{
    margin-top: 0;
}
#About .cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
    /* padding: 40px; */
}
#About .card{
    background: linear-gradient(145deg, #0f172a, #1e293b);
    width: 100%;
    height: auto;
    min-height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    border: 1px solid #a49f9f;
    outline: none;
    border-radius: 20px;
    position: relative;
    padding: 25px;
    transition: 0.3s ease;
    overflow: visible;
}
.card::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 1px;
    background: linear-gradient(120deg, #00f5d4, #9b5cff);
    
    -webkit-mask:
        linear-gradient(#000 0 0) content-box, 
        linear-gradient(#000 0 0);

    -webkit-mask-composite: xor;
    mask-composite: exclude;
    /* mask: x; */
    pointer-events: none;
}
.card:hover {
    transform: translateY(-8px) scale(1.02);
    box-shadow: 0 15px 40px rgba(0,0,0,0.4);
}
.card p {
    color: #94a3b8;
    line-height: 1.6;
    margin-bottom: 15px;
}
#About .card .learn-btn{
    /* background: linear-gradient(180deg, #00f5d4, #9b5cff); */
    background: #00f5d4;
    border: none;
    padding: 10px 18px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    cursor: pointer;
    transition: 0.3s;

}
#About .card .learn-btn:hover{
    opacity: 0.9;
    transform: scale(1.05);
}

#About .card h2{
    color: #00f5d4;
    margin-bottom: 10px;
}

/* * Why Us page styling. */
#whyUs{
    width: 100%;
    padding: 20px;
    background: linear-gradient( 180deg ,#020617, #69aecc);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 100vh;
}


.why-header {
    text-align: center;
    margin-bottom: 30px;
}
    
.why-header h1 {
        font-size: 2.4rem;
        color: #00f5d4;
        margin-bottom: 30px;
}
    
.why-header p {
        color: #94a3b8;
        font-size: 1.5rem;
}

.slider {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    padding: 20px;
    mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
    scroll-behavior: smooth;
    cursor: grab;

}
.slider:active{
    cursor: grabbing;
}
.slider::-webkit-scrollbar {
    display: none;
}
.choreo {
    position: relative;
    min-width: 400px;
    height: 240px;
    border-radius: 20px;
    overflow: hidden;
    border-radius: 20px;
    scroll-snap-align: center;
    cursor: pointer;
    flex-shrink: 0;
    scroll-snap-stop: always;
}
.choreo:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
}

.choreo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.5s ease;
}
.overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: linear-gradient(
        to top,
        rgba(0,0,0,0.85),
        rgba(0,0,0,0.2),
        transparent
    );

    color: white;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    transform: translateY(60%);
    transition: 0.4s ease;
}
.choreo:hover .overlay {
    transform: translateY(0);
}

.choreo:hover img {
    transform: scale(1.1);
}
.overlay h2 {
    margin-bottom: 10px;
}

.overlay p {
    font-size: 0.9rem;
    margin-bottom: 15px;
    opacity: 0.8;
}

.overlay button {
    align-self: center;
    padding: 8px 14px;
    border-radius: 8px;
    border: none;
    background: #00f5d4;
    cursor: pointer;
}

.dots {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
  }
  
  .dots span {
    width: 10px;
    height: 10px;
    background: #555;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .dots span.active{
    background: #00f5d4;
  }


  /* * DEV TEAM SECTION */

  .dev-team-section {
    min-height: 100vh;
    padding: 80px 0;
    background: #0f172a;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(255,255,255,0.05);
  }
  
  .section-title {
    font-size: 2rem;
    margin-bottom: 40px;
    text-align: center;
    color: #00f5d4;
  }
  
  .dev-team-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap: 30px;
    max-width: 1000px;
    width: 100%;
  }
  
  /* DEV CARD */
  
  .dev-card {
    background-color: #030414;
    padding: 22px;
    border-radius: 12px;
    transition: 0.3s ease;
    cursor: pointer;
    border: 1px solid grey;
  }
  
  .dev-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(0,0,0,0.4);
  }
  
  /* DEV IMAGE */
  
  .dev-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 15px;
    float: left;
    margin-right: 15px;
    margin-top: 10px;
  }
  
  /* DEV TEXT */
  
  .dev-name {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  .dev-role {
    color: #38bdf8;
    font-size: 0.9rem;
  }
  
  .dev-stack {
    margin-top: 10px;
    color: #cbd5e1;
    font-size: 0.85rem;
  }

  .dev-btn{
    text-decoration: none;
    color: #222;
    background: #00f5d4;
    padding: 8px 14px;
    border-radius: 8px;
    display: inline-block;
    margin-top: 15px;
    transition: 0.3s ease;
  }

  .dev-btn:hover{
    background: #00d9ff;
    color: #111;
  }

  .dev-btn:active{
    background: #20db0f;
    color: #111;
  }

/* * foooter styling */
#footer{
    max-height: 50%;
    padding: 30px 50px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: #afd3e1;
    font-size: 19px;
    background: #000;
    width: 100%;
}
.footer .row1{
    margin-bottom: 20px;
}
.footer .row1 .cols{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-left: 40px;
}
.footer .row1 .cols h3{
    color: #00f5d4;
    margin-bottom: 10px;
}
.footer .row2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.footer footer .row2 .right-footer a,
.footer footer .row1 .cols .col1 ul li a,
.footer footer .row1 .cols .col2 ul li a,
.footer footer .row1 .cols .col3 ul li a,
.footer .row2 .footer-legal a{
    text-decoration: none;
    cursor: pointer;
    font-weight: 500;
    color: beige;
}
.footer footer .row1 .cols .col1 ul li,
.footer footer .row1 .cols .col2 ul li ,
.footer footer .row1 .cols .col3 ul li {
    list-style-type: none;
    gap: 20px;
    line-height: 2rem;
}



/** Display on a small screen */

@media (max-width: 768px) {
    body{
        width: 100%;
        height: 100%;
        min-height: 100vh;
    }
    section{
        width: 100%;
        height: auto;
    }
    /* * Some isssues with the width of the screen */
    /* #bg-video{
        position: fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        object-fit:cover;
        z-index:-1;
    } */
    /* *Removing from display the navbar inorder to fix a hamburger there as the menu display */
    .titlebar .navbar{
        display: none;
    }
    .titlebar .socials{
        display: none;
    }
    /* * Ham menu */
    /* making the ham appear */
    .titlebar .ham{
        display: block;
    }
    /* Reset default marker */
    summary {
        list-style: none;
        cursor: pointer;
    }
    summary::-webkit-details-marker {
        display: none;
    }

/* Hamburger container */
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 30px;
        height: 25px;
        gap: 5px;
    }

/* Lines */
    .hamburger span {
        height: 3px;
        width: 100%;
        background: rgb(231, 224, 224);
        border-radius: 2px;
        transition: all 0.3s ease;
    }

/* Animate into X when open */
details[open] .hamburger span:nth-child(1) {
    transform: rotate(45deg) translateY(8px);
}

details[open] .hamburger span:nth-child(2) {
    opacity: 0;
}

details[open] .hamburger span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
}

/* Menu styling */
.menu {
    position: absolute;
    top: 50px;
    right: 0;
    background: #111;
    color: white;
    padding: 15px;
    border-radius: 10px;
    min-width: 180px;
    backdrop-filter: blur(10px);
    background: rgba(0,0,0,0.8);
    opacity: 0;
    transform: translateY(-10px);
    pointer-events: none;
    transition: all 0.3s ease;
    }

/* Show menu smoothly */
details[open] .menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* Links */
.menu a {
  display: block;
  margin: 10px 0;
  color: #ccc;
  text-decoration: none;
  transition: 0.2s;
}

.menu a:hover {
  color: white;
}
    /* ^ reducing the size of the font in a small screen */
    .hero-content h1{
        font-size: 26px;
        margin-bottom: 40px;
    }
    #home{
        min-height: fit-content;

    }
    .hero-content {
        width: 100%;
        overflow-x: hidden;
        overflow-y: visible;
        scrollbar-width: none;
        padding: 10px 30px;
        display: flex;
        flex-direction: column;
        gap: 60px;
        
    }
    .hero-content .hero-buttons{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .hero .hero-content .popup{
        background: #aaa;
        display: flex;
        justify-content: center;
        align-items: center;
        padding:12px 25px;
        height: 40px;
        width: 290px;
        border-radius: 19px;
        border: none;
        outline: none;
        margin: auto;
        transition: all 0.15s ease-in-out ;
        cursor: pointer;
    }
    .hero .hero-content .popup .pop-btn{
        font-size: 20px;
        color: #d52424;
        cursor: pointer;
        text-decoration: none;
    }
    .hero .hero-content .popup:active{
        background: #645f5f;
    }

    /* * Booking bar reordering */
    
    .booking-bar {
        display: flex;
        height: fit-content;
        flex-wrap: wrap;
        flex-direction: row;
        /* ^ Decided to make the booking bar a popup  */
        display: none; 
    }
    .booking-bar .booking-fields{
        display: grid;
    }


    /* * About page  */
    #About{
        width: 100vw;
        height: fit-content;
        padding: 50px 40px;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
    }
    #About .cards{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        width: 87%;
        margin: auto;
    }


    #whyUs {
        height: fit-content;
        width: 100vw;
        /* margin: 0; */
        padding: 50px 10px 30px 30px ;

    }
    #whyUs .gallery{
        display: flex;
        flex-direction: column;
        width: 100%;        
    }
    #whyUs .gallery .sheet{
        width: 95%;
    }
    #whyUs .gallery .sheet:hover{
        margin: 0;
        scale: 1;
    }


    /* *footer section of a small device */
    .footer{
        width: 100%;
        height: fit-content;
        min-height: 50%;
        padding: 10px;
        margin: 0;
    }
    #footer footer .row1 .cols{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        padding: 0;
        gap: 0;
    }
    .footer footer .row2 {
        display: flex;
        flex-direction: column-reverse;
        gap: 5px;
    }

    .dev-team-section{
        padding: 50px 10px;
    }
    
    .dev-team-container{
        grid-template-columns: 1fr;
        gap: 20px;
    }
    
    .dev-card{
        width: 100%;
    }
    .search-btn{
        display: none;
    }
    .dev-team-section {
      padding: 60px 15px;
    }
    
    .section-title {
      font-size: 1.6rem;
    }
    
    .dev-team-container {
      gap: 20px;
    }
    
    .dev-card {
      padding: 18px;
    }
}

